---
interface Props {
  id: string
  label: string
  name?: string
  options: { value: string; label: string }[]
  value?: string
}

const { id, label, name, options, value } = Astro.props
---

<div>
  <label for={id} class='ch-label'>{label}</label>
  <select id={id} name={name ?? id} class='ch-input pr-8'>
    {
      options.map((opt) => (
        <option value={opt.value} selected={opt.value === value}>
          {opt.label}
        </option>
      ))
    }
  </select>
</div>
