---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'

import orange from '@/images/colors/orange.jpg'
import red from '@/images/colors/red.jpg'
import darkBlue from '@/images/colors/dark-blue.jpg'

import fluorecente from '@/images/colors/fluorecente.jpg'

import blue from '@/images/colors/blue.jpg'
import green from '@/images/colors/green.jpg'
import yellow from '@/images/colors/yellow.jpg'

import RequestProductForm from '@/components/RequestProductForm.astro'
import { PRODUCT } from '@/const'

const FULL_MASTER_COLOR_APPLICATIONS = [
  'LDPE',
  'PP',
  'HDPE',
  'PS',
  'HIPS',
  'ABS',
  'SAN',
  'PET'
]
export const prerender = true
---

<Layout
  title='Full Master Color'
  description='Colores 100% activos de alta concentración'
>
  <main class='isolate min-h-screen'>
    <header
      class='relative flex items-center justify-center h-96 sm:min-h-[450px] w-full mt-20'
    >
      <video
        class='absolute inset-0 object-cover w-full h-full'
        autoplay
        loop
        muted
        poster='/colors.webp'
      >
        <source src='/colors.mp4' type='video/mp4' />
      </video>
      <div class='absolute inset-0 z-10 bg-black/10'></div>
      <div class='relative flex-1 max-w-7xl m-auto mx-4 sm:mx-8'>
        <div
          class='flex items-center justify-between relative z-30 flex-col sm:flex-row sm:space-y-4 py-12 sm:pt-0 sm:h-96'
        >
          <h1
            class='relative text-primary-500 text-4xl sm:text-7xl font-black text-custom outlined-text-1 uppercase'
          >
            Full Master Color
          </h1>
          <p></p>
          <p class='text-gray-700 text-3xl text-center'>
            Colores 100% activos de <b>alta concentración</b>
          </p>
        </div>
      </div>
    </header>
    <div class='relative mx-auto max-w-7xl mt-24 space-y-6 sm:space-y-32 px-4'>
      <h2
        class='text-center text-3xl font-bold tracking-tight text-secondary-700 sm:text-4xl'
      >
        Nuestra linea de productos cuenta con:
      </h2>
      <div class='grid sm:grid-cols-2'>
        <div class='flex items-center'>
          <ul class='list-disc pl-4 gap-y-2 flex flex-col'>
            <li class='text-xl text-secondary-700'>
              Colores de alta concentración de linea
            </li>

            <li class='text-xl text-secondary-700'>Colores metalizados</li>

            <li class='text-xl text-secondary-700'>Colores Fluorescentes</li>

            <li class='text-xl text-secondary-700'>
              Colores de especialidad (negros, blancos, igualaciones)
            </li>
          </ul>
        </div>
        <div class='cols-span-1 grid grid-cols-3 rounded-lg overflow-hidden'>
          <Image
            src={blue}
            alt='Full Master Color Verde'
            class='object-cover h-96 w-auto object-center'
          />
          <Image
            src={green}
            alt='Full Master Color Azul'
            class='object-cover h-96 w-auto object-center'
          />
          <Image
            src={yellow}
            alt='Full Master Color Amarillo'
            class='object-cover h-96 w-auto object-center'
          />
        </div>
      </div>
      <div class='grid sm:grid-cols-2 gap-4 place-content-center'>
        <div>
          <Image
            src={fluorecente}
            alt='Colores fluorecentes'
            class='h-96 w-auto rounded-lg overflow-hidden mx-auto'
          />
        </div>
        <div class='flex flex-col justify-center gap-y-10'>
          <h2
            class='text-center text-3xl font-bold tracking-tight text-secondary-700 sm:text-4xl'
          >
            Aplicaciones:
          </h2>
          <ul class='grid grid-cols-4 gap-4'>
            {
              FULL_MASTER_COLOR_APPLICATIONS.map((value) => (
                <li class='bg-secondary-700 text-white rounded-full px-6 text-center max-w-[120px]'>
                  {value}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <div class='relative mx-auto max-w-7xl mt-24 space-y-12 px-4'>
      <h2
        class='text-center text-3xl font-bold tracking-tight text-secondary-700 sm:text-4xl'
      >
        Monopigmentos
      </h2>
      <div class='flex flex-col sm:flex-row gap-2 justify-between items-center'>
        <div class='flex flex-1 gap-4'>
          <Image
            src={orange}
            alt='Colores fluorecentes'
            class='h-32 lg:h-40 xl:h-56 w-auto rounded-2xl overflow-hidden aspect-[139/114]'
          />
          <Image
            src={red}
            alt='Colores fluorecentes'
            class='h-32 lg:h-40 xl:h-56 w-auto rounded-2xl overflow-hidden aspect-[139/114]'
          />
          <Image
            src={darkBlue}
            alt='Colores fluorecentes'
            class='h-32 lg:h-40 xl:h-56 w-auto rounded-2xl overflow-hidden aspect-[139/114]'
          />
        </div>
        <p class='sm:max-w-xs text-lg leading-6 text-secondary-700'>
          Pigmento peletizado de alta concentración, de un solo tono que se
          pueden aplicar como base para formular masterbatch, ya que estos
          pelets son predispersos.
        </p>
      </div>
    </div>
    <div class='relative isolate px-6 py-24 sm:py-32 lg:px-8'>
      <div class='mx-auto max-w-lg'>
        <h2 class='text-4xl font-bold tracking-tight text-secondary-700'>
          Solicite una muestra
        </h2>
        <p class='mt-2 text-lg leading-8 text-gray-600'>
          Registrese aquí, reciba muestras y acceda a nuestro catálogo de
          productos
        </p>
        <div class='mt-10 max-w-lg mx-auto'>
          <RequestProductForm product={PRODUCT.FULL_MASTER_COLOR} />
        </div>
      </div>
    </div>
  </main>
</Layout>
<style>
  .outlined-text-1::before {
    content: 'Full Master Color';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #74bc1f;
    color: transparent;
    position: absolute;
    left: -5px;
    top: -2px;
    @media (min-width: 640px) {
      left: -10px;
      top: -5px;
    }
  }
</style>
