---
import { Image } from 'astro:assets'
import reciclado from '@/images/colors/green.jpg'
import purga from '@/images/e-purge/purga-tres.jpg'
import inyeccion from '@/images/additives/processes/desmoldante.jpg'
import colors from '@/images/colors/yellow.jpg'

import molecules from '@/images/molecules.svg'

const CARDS = [
  {
    title: 'INYECCIÓN Y EXTRUSIÓN',
    image: inyeccion,
    items: [
      'Antiestáticos',
      'Filtros UV',
      'Clarificantes',
      'Antibacteriales',
      'VCI anticorrosivo',
      'Disipativos conductivos',
      'Retardantes de flama'
    ]
  },
  {
    title: 'RECICLADOS',
    image: reciclado,
    items: [
      'Colores 100% Activos',
      'Modificador de Fluidez',
      'Antioxidante',
      'Deslizantes antibloqueantes',
      'Abrillantador óptico',
      'Modificador de impacto',
      'Absorvedor de olor'
    ]
  },
  {
    title: 'LIMPIEZA',
    image: purga,
    items: [
      'Purgas para inyección',
      'Purgas para extrusión',
      'Cambio de color',
      'Cambios de material'
    ]
  },
  {
    title: 'COLORES',
    image: colors,
    items: [
      'Colores 100% activos',
      'Monopigmentos',
      'Fluorecentes',
      'Blancos',
      'Negros',
      'Metalizados'
    ]
  }
]
---

<section class='relative sm:py-24 overflow-hidden' id='about-us'>
  <Image
    src={molecules}
    alt='Additives Options'
    class='absolute right-0 translate-x-10 top-1/2 -translate-y-1/2 h-1/3 object-cover w-auto -z-10'
  />
  <div class='mx-auto max-w-7xl w-full py-10 flex flex-col gap-y-12'>
    <div class='space-y-4 px-6 lg:px-0'>
      <h2
        class='text-center text-2xl sm:text-4xl text-secondary-700 font-black'
      >
        Comprometidos con la innovación y desarrollo.
      </h2>
      <p
        class='text-center text-base sm:text-lg text-secondary-600 max-w-4xl mx-auto font-normal'
      >
        Somos una empresa enfocada en aditivos 100% activos para el plástico,
        generando <b>economía circular</b>
         dentro de nuestros procesos y productos.
      </p>
    </div>
    <h3
      class='relative text-secondary-700 text-xl sm:text-3xl font-black text-custom outlined-text-1 text-center uppercase'
    >
      Aditivos para:
    </h3>
    <div
      class='grid sm:grid-cols-2 xl:grid-cols-4 w-full mx-auto gap-4 place-content-center px-4'
    >
      {
        CARDS.map(({ title, items, image }) => (
          <article class='relative cols-span-1 shadow-xl rounded-lg bg-white flex flex-col overflow-hidden w-full max-w-sm mx-auto'>
            <Image
              src={image}
              alt={title}
              class='object-cover w-full h-60 rounded-t-lg aspect-square'
            />
            <div class='bg-primary-800 px-6 py-4 flex-1 -translate-x-0 group-hover'>
              <h3 class='text-lg font-bold text-white uppercase'>{title}</h3>
              <ul class='space-y-4 mt-2'>
                {items.map((item) => (
                  <li class='flex items-center gap-x-2'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='24'
                      height='24'
                      viewBox='0 0 24 24'
                      stroke-width='2'
                      stroke='currentColor'
                      fill='none'
                      stroke-linecap='round'
                      stroke-linejoin='round'
                      class='w-6 h-6 text-white/80'
                    >
                      <path stroke='none' d='M0 0h24v24H0z' fill='none' />
                      <path d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0' />
                      <path d='M9 12l2 2l4 -4' />
                    </svg>
                    <span class='text-white/80'>{item}</span>
                  </li>
                ))}
              </ul>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
