---
import { Image } from "astro:assets";

const { frontmatter } = Astro.props;

const images = import.meta.glob<ImageMetadata>("../images/additives/*/*", {
  import: "default",
});

const imageSrc = await images[`../images/additives/${frontmatter.image}`]?.();
---

<html>
  {imageSrc && <Image src={imageSrc} alt={frontmatter.title} />}
  <div class='py-6 px-4'>
    <div class='mb-6 space-y-2'>
      <h1 class='text-2xl text-secondary-700 font-black'>
        {frontmatter.title}
      </h1>
      <p class='text-base text-secondary-700 leading-7'>
        {frontmatter.description}
      </p>
    </div>

    <slot />
  </div>


</html>
