---
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
import '@fontsource-variable/montserrat'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

const image = 'https://ecotecplast.com/logo.png'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <meta name='description' content={description} />
    <meta
      name='keywords'
      content='aditivos, reciclaje, master color, monopigmentos'
    />
    <meta name='og:image' content={image} />
    <meta name='og:title' content={title} />
    <meta name='og:description' content={description} />
    <meta name='og:url' content='https://ecotecplast.com' />
    <meta name='og:site_name' content='Ecotecplast' />
    <meta name='og:type' content='website' />
    <meta name='og:locale' content='es_ES' />

    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@midudev' />
    <meta name='twitter:creator' content='@midudev' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={image} />

    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link rel='canonical' href='https://ecotecplast.com' />
    <link rel='sitemap' href='/sitemap-index.xml' />

    <meta name='robots' content='index, follow' />
    <meta name='googlebot' content='index, follow' />

    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navigation />
    </header>
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: 'Montserrat Variable', system-ui, sans-serif;
    background: #d5e5d7;
    scroll-behavior: smooth;
  }
</style>
